.checks {
  input {
    @extend .w-100;
  }
  .user-checks {
    .user {
      cursor: pointer;
      &:hover {
        > td > i {
          color: #f00;
        }
      }
      & + tr {
        display: none;
      }
      // &__data {
      //   cursor: pointer;
      //   & + tr {
      //     display: none;
      //   }
      // }
    }
  }
}
