.admin-orders {
  .order {
    cursor: pointer;
    &:hover {
      >td>i {
        color: #f00;
      }
    }
    &+tr {
      display: none;
    }
  }
  .order-total-price {
    align-self: flex-end;
    text-align: right;
    p {
      font-size: 25px;
    }
  }
}